*/*.pdf
*.log
*.out
*.toc
*.synctex.gz
*.aux
*.tex.aux
*.tdo

*/desktop.ini
*/thumbs.db

# If you want a cool Gource configuration for this project, contact: Joshua Slik
/gource/**
*/ut-environment.jar

# --------------------------------------------------------
# !!! ONLY EXCEPTIONS BELOW THIS LINE PLEASE THANK YOU !!!
# --------------------------------------------------------

# Include the Gource captions, so other people can add milestones to them.
!/gource/gource-captions.txt
